body{
    background-color: black;
}
#time{
    color: white;
    font-size: 100px;
}
#watch{
text-align: center;
margin-top: 200px;
}
button{
    height: 50px;
    width: 150px;
    font-size: 25px;
}
